body {
  text-align: center;
}

p {
  font-size: 50px;
}

/* #textbox {
  border: 5px solid black;
  height: 100px;
  margin-bottom: 10px;
} */

#input {
  font-size: 50px;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
}

button {
  font-size: 50px;
}

.letter {
  width: 50px;
}

#letters {
  padding-bottom: 10px;
  display: none;
}

#details p {
  font-size: 25px;
}

#details {
  padding: 0;
  margin: auto;

  margin-top: 0;
}

#question {
  font-size: 75px;
  padding-bottom: 0px;
  margin-bottom: 0;
}

#vowels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
}

.vowelLabel {
  float: left;
  display: block;
}

.note {
  font-size: 25px;
}

#textbox {
  margin-bottom: 15px;
}
#backspace,
#clear {
  font-size: 25px;
}

.labels {
  font-size: 25px;
  margin-bottom: 0;
}

.big {
  font-size: 40px;
}

#choose {
  font-size: 25px;
  margin-top: 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
}

/* The Close Button */
#chooseClose {
  font-size: 20px;
}

#chooseContent {
  background-color: white;
  width: 50%;
  height: 100%;
  margin: auto;
  padding: 50px;
}
