body {
  text-align: center;
}

p {
  font-size: 50px;
}

/* #textbox {
  border: 5px solid black;
  height: 100px;
  margin-bottom: 10px;
} */

#input {
  font-size: 50px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}

button {
  font-size: 50px;
}

.letter {
  width: 50px;
}

#letters {
  padding-bottom: 10px;
}

#details p {
  font-size: 25px;
}

#details {
  padding: 0;
  margin: auto;

  margin-top: 0;
}

#question {
  font-size: 75px;
  padding-bottom: 0px;
  margin-bottom: 0;
}

#vowels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
}

.vowelLabel {
  float: left;
  display: block;
}
